# Przetwarzanie Danych w językach R i Python Projekt 2
# Piotr Rowicki

## Wstęp 
Podobnie jak język R, pyhon również udostępnia narzędzie do przetwarzania danych. Jest nim biblioteka pandas. Podobnie jak w projekcie 1, porównamy jej działanie z zapytaniami SQL.
Zapytania mają dokładnie taką samą tresć jak te z pierwszego projektu, więc interpretacja ich zostanie pominięta. A ponieważ implementowane będą one tylko jedną petodą (poza wzorcową, która przez swój charakter nie ma szans być wydajniejsza), porównania czasowe również zostaną pominięte

In [1]:
#załączenie dependencji
from  Rowicki_Piotr_PD2 import *
import pandas as pd
import  numpy as np
import sqlite3
import os

In [2]:
# wczytanie danych
Posts = pd.read_csv("travel_stackexchange_com/Posts.csv.gz",compression = 'gzip')
Comments = pd.read_csv("travel_stackexchange_com/Comments.csv.gz",compression = 'gzip')
Users = pd.read_csv("travel_stackexchange_com/Users.csv.gz",compression = 'gzip')
PostLinks = pd.read_csv("travel_stackexchange_com/PostLinks.csv.gz",compression = 'gzip')

In [3]:
# ustanowienie połączenia i wypełnienie bazy danych
database=os.path.join("stackexchange.db")
if os.path.exists(database):
    os.remove(database)
conn = sqlite3.connect(database)
PostLinks.to_sql("PostLinks",conn)
Posts.to_sql("Posts",conn)
Comments.to_sql("Comments",conn)
Users.to_sql("Users",conn)

95922

In [ ]:
# w przypadku kiedy baza juz istnieje
database=os.path.join("stackexchange.db")
conn = sqlite3.connect(database)

## Zapytanie 1

In [4]:
# sql
sqlRes_1=pd.read_sql_query(sql="""SELECT Location, COUNT(*) AS Count
FROM (
SELECT Posts.OwnerUserId, Users.Id, Users.Location
FROM Users
JOIN Posts ON Users.Id = Posts.OwnerUserId
)
WHERE Location NOT IN ('')
GROUP BY Location
ORDER BY Count DESC
LIMIT 10
""",con=conn)

In [5]:
#Wynik zapytania
sqlRes_1

                        Location  Count
0      Christchurch, New Zealand   2795
1                   New York, NY   1872
2         London, United Kingdom   1711
3                             UK   1707
4  Sunshine Coast QLD, Australia   1558
5                      Australia   1199
6                       Seat 21A   1056
7              Vancouver, Canada   1051
8                    Netherlands   1013
9                     London, UK    947

In [ ]:
# Wynik implementacji w pandas
pdRes_1=solution_1(Posts,Users)

In [ ]:
# porównanie zgodnosci
pdRes_1.equals(sqlRes_1)

## zapytanie 2

In [ ]:
# sql
sqlRes_2=pd.read_sql_query(sql="""
SELECT Posts.Title, RelatedTab.NumLinks
FROM
(
SELECT RelatedPostId AS PostId, COUNT(*) AS NumLinks
FROM PostLinks
GROUP BY RelatedPostId
) AS RelatedTab
JOIN Posts ON RelatedTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1
ORDER BY NumLinks DESC
 """,con=conn)

In [ ]:
sqlRes_2

In [553]:
def sol2(Posts,PostLinks):

123

In [ ]:
conn.close()