# Przetwarzanie Danych w językach R i Python Projekt 2
# Piotr Rowicki 320730

## Wstęp 
Podobnie jak język R, pyhon również udostępnia narzędzie do przetwarzania danych. Jest nim biblioteka pandas. Podobnie jak w projekcie 1, porównamy jej działanie z zapytaniami SQL.
Zapytania mają dokładnie taką samą tresć jak te z pierwszego projektu, więc interpretacja ich zostanie pominięta. A ponieważ implementowane będą one tylko jedną petodą (poza wzorcową, która przez swój charakter nie ma szans być wydajniejsza), porównania czasowe również zostaną pominięte

In [1]:
#załączenie dependencji
from  Rowicki_Piotr_PD2 import *
import pandas as pd
import  numpy as np
import sqlite3
import os

In [2]:
# wczytanie danych
Posts = pd.read_csv("travel_stackexchange_com/Posts.csv.gz",compression = 'gzip')
Comments = pd.read_csv("travel_stackexchange_com/Comments.csv.gz",compression = 'gzip')
Users = pd.read_csv("travel_stackexchange_com/Users.csv.gz",compression = 'gzip')
PostLinks = pd.read_csv("travel_stackexchange_com/PostLinks.csv.gz",compression = 'gzip')

In [3]:
# ustanowienie połączenia i wypełnienie bazy danych
database=os.path.join("stackexchange.db")
if os.path.exists(database):
    os.remove(database)
conn = sqlite3.connect(database)
PostLinks.to_sql("PostLinks",conn)
Posts.to_sql("Posts",conn)
Comments.to_sql("Comments",conn)
Users.to_sql("Users",conn)

95922

In [ ]:
# w przypadku kiedy baza juz istnieje
database=os.path.join("stackexchange.db")
conn = sqlite3.connect(database)

## Zapytanie 1

### SQL

In [4]:
sqlRes_1=pd.read_sql_query(sql="""SELECT Location, COUNT(*) AS Count
FROM (
SELECT Posts.OwnerUserId, Users.Id, Users.Location
FROM Users
JOIN Posts ON Users.Id = Posts.OwnerUserId
)
WHERE Location NOT IN ('')
GROUP BY Location
ORDER BY Count DESC
LIMIT 10
""",con=conn)

In [6]:
#Wynik zapytania
sqlRes_1

                        Location  Count
0      Christchurch, New Zealand   2795
1                   New York, NY   1872
2         London, United Kingdom   1711
3                             UK   1707
4  Sunshine Coast QLD, Australia   1558
5                      Australia   1199
6                       Seat 21A   1056
7              Vancouver, Canada   1051
8                    Netherlands   1013
9                     London, UK    947

### Wynik implementacji w pandas

In [6]:
pdRes_1=solution_1(Posts,Users)

                        Location  Count
0      Christchurch, New Zealand   2795
1                   New York, NY   1872
2         London, United Kingdom   1711
3                             UK   1707
4  Sunshine Coast QLD, Australia   1558
5                      Australia   1199
6                       Seat 21A   1056
7              Vancouver, Canada   1051
8                    Netherlands   1013
9                     London, UK    947

In [ ]:
#wynik
pdRes_1

### porównanie zgodnosci

In [5]:

pdRes_1.equals(sqlRes_1)

NameError: name 'sqlRes_1' is not defined

## zapytanie 2

### SQL

In [ ]:
sqlRes_2=pd.read_sql_query(sql="""SELECT Posts.Title, RelatedTab.NumLinks
    FROM
    (
    SELECT RelatedPostId AS PostId, COUNT(*) AS NumLinks
    FROM PostLinks
    GROUP BY RelatedPostId
    ) AS RelatedTab
    JOIN Posts ON RelatedTab.PostId=Posts.Id
    WHERE Posts.PostTypeId=1
    ORDER BY NumLinks DESC
 """,con=conn)

In [ ]:
#wynik
sqlRes_2

### Wynik implementacji w pandas

In [18]:
pdRes_2=solution_2(Posts,Users)

                                                  Title  NumLinks
0     Is there a way to find out if I need a transit...      1157
1     Do I need a visa to transit (or layover) in th...      1012
2     Should I submit bank statements when applying ...       669
3     UK visa refusal on V 4.2 a + c (and sometimes ...       523
4     Should my first trip be to the country which i...       461
...                                                 ...       ...
8094  Do I have to go through customs, recheck my ba...         1
8095        Bringing tea bags in zip lock bag to Korea?         1
8096  Renting a flat in Lille for a few months - opt...         1
8097  Alternative to public hot water bath in Japan ...         1
8098  Does bought duty-free count towards cabin lugg...         1

[8099 rows x 2 columns]

### porównanie zgodności

In [ ]:
pdRes_2.equals(sqlRes_2)

## Zapytanie 3

### SQL

In [ ]:

sqlRes_3=pd.read_sql_query(sql="""SELECT Posts.Title, FROM Posts"""
                           ,con=conn)

In [ ]:
sqlRes_3

### wynik implementacji w Pandas

In [ ]:
pdRes_3=solution_3(Comments,Posts,Users)

### porównanie wyników

In [ ]:
pdRes_3.equals(sqlRes_3)

In [ ]:
conn.close()